<div class="container-fluid col-md-12 mainDiv">
    <h3>Please Enter Cheque Details</h3>

    <form method="post" [formGroup]="requiredForm" novalidate>
        <div class="form-group">
            <label for="payee">Pay To : </label>
            <input type="text" class="form-control" id="payee" placeholder="Pay This Cheque To"
            #payee formControlName="payee">
        </div>

        <div *ngIf="requiredForm.controls['payee'].invalid" class="alertmessage">
            Please Enter Account Holder Name
        </div>

        <div class="form-group">
          <label for="payer">Payer Name : </label>
          <input type="text" class="form-control" id="payer" placeholder="Name Of Payer"
          #payer formControlName="payer">
        </div>

        <div *ngIf="requiredForm.controls['payer'].invalid" class="alertmessage">
            Please Enter Payer Name
        </div>

        <div class="form-group">
            <label for="chequeDate">Cheque Date : </label>
            <input type="date" class="form-control" id="chequeDate" formControlName="chequeDate" #chequeDate>
        </div>

        <div *ngIf="requiredForm.controls['payer'].invalid" class="alertmessage">
            Please Enter Cheque Date
        </div>

        <div class="form-group">
            <label for="depositDate">Cheque Deposit Date : </label>
            <input type="text" class="form-control" id="depositDate" #depositDate>
        </div>

        <div class="form-group">
            <label for="amountInNum">Cheque Amount In Number : </label>
            <input type="number" class="form-control" id="amountInNum" placeholder="Enter cheque Amount In Numbers"
            #amountInNum formControlName="amountInNum">
        </div>

        <div *ngIf="requiredForm.controls['amountInNum'].invalid" class="alertmessage">
            Invalid Cheque Amount
        </div>
        
    </form>

    <button class="btn1 btn" type="submit" 
    (click)="onSubmit(payee.value,payer.value,chequeDate.value,depositDate.value,amountInNum.value)"> 
        <span>CONTINUE</span> 
    </button>

    <button class="btn2 btn" type="reset" (click)="onReset()"> <span>CANCEL</span> </button>
</div>