.mainDiv{
    padding: 0 5% 0 5%;
    text-align: center;
}

div:first-child{
    padding-top: 10%;
}

h3{
    font-weight: bold;
    font-size: 25px;
}

p{
    font-size: 18px;
    margin-top: 2%;
}

img{
    width: 250px;
    height: 450px;
    margin-bottom: 5%;
    border: 1px solid gray;
}

.btn1 {
    width: 100%;
    height: 45px;
    margin-top: 6%;
    background-color: #DD5484;
    color: white;
}

.btn1:hover{
    width: 100%;
    height: 45px;
    margin-top: 6%;
    background-color: #DD5484;
    color: white;
}

.btn2 {
    width: 100%;
    height: 45px;
    margin-top: 4%;
    border:1px solid #DD5484;
    background-color: white;
    color: black;
}

button>span{
    font-weight: bold;
}

.div1{
    text-align:center;
}

input{
    display: none;
}
  
label{
    cursor:pointer;
}

#inputTag{
      display: none;
}

.chequeDiv{  
    padding-top: 5%;
    border: 1px solid #DD5484;
}